html, body {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./images/background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    display: grid;
    background-color: rgb(41, 128, 41);
    width: 70%;
    border-radius: 10%;
    justify-items: center;
    text-align: center;
}

img {
    width: 100px;
}

#content > h1 {
    font-size: 3em;
}

#content > div {
    outline: 5px rgb(190, 24, 24) solid; border-radius: 30%;
    padding: 3% 10%;
    margin: 5%;
}

#menuTitle {
    font-size: 2.5em;
    font-weight: bold;
    background-color: rgb(206, 81, 81);
}

#menuTitle + div {
    position: relative;
    top: -12%;
}

#attribution {
    display: flex;
    justify-content: space-around;
    gap: 5em;
}

#attribution p a {
    text-decoration: none;
    color: black;
}