html, body {
    padding: 0;
    margin: 0;
}

body {
    background-image: url(./images/background.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#content {
    display: grid;
    background-color: rgb(41, 128, 41);
    width: 70%;
    border-radius: 10%;
    justify-items: center;
    text-align: center;
}

img {
    width: 100px;
}

#attribution {
    display: flex;
    justify-content: space-around;
    gap: 5em;
}

#attribution p a {
    text-decoration: none;
    color: black;
}